:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito:#3c92fa;
}
body{
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
font-family:var(--fonte-principal) ;
font-size: 16px;
font-weight: 400;

}
*{
    margin: 0;
    padding: 0;
}
header{
background-image: linear-gradient(#00002b,#120a53,#24147c);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    .cabeçalho-imagem{
        width: 18%;
    }
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }

.Europa{
background-image: linear-gradient(#11096e,#211291,#321ab3);
background-size: contain;
align-items:  center;
text-align: center;
}
.Europa-div-conteudo{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.Europa-titulo{
    padding: 24px 0;
}
.Europa-texto-um{
    padding: 24px 0;
        font-size: 24px ;
}
.Europa-texto-dos{
    padding: 24px 0;
        font-size: 24px ;
}
.container-botao{
    background-color:var(--cor-de-fundo);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
   display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   
   
}

.países{
  background-image: linear-gradient(#000067,#110982,#21129e);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    
}

.países-div-conteudo{
   color: white;
    text-size-adjust:0 16;
    padding: 20px 0;
    margin: 0 16px;
}
.países-titulo{
 padding: 16px 0;
 
}

